body{
    background-image: url("land-o-lakes-inc-TXdLi87NmJQ-unsplash.jpg");
    color:white;
    background-size: cover;
    text-align: center;
    display: block;
    font-family: "Orbitron", sans-serif;

    
}


.btn{
    margin: 0px auto;
    padding: 4px 10px 8px 10px ;
    background: white;
    border:none;
    font-family: inherit;
}

.cta{
    border-bottom: 4px solid white;
}
