body{
    background-image: url("land-o-lakes-inc-TXdLi87NmJQ-unsplash.jpg");
    color:black;
    background-size: cover;
        text-align: center;

    
}
.head{
    display: block;

}

.btn{
    margin: 0px auto;
    padding: 4px 10px 8px 10px ;
    background: white;
    border:none;
    font-family: ;
}