body{
    background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExZWszMnE1dXZ3anZ3MjJ6NGprN2V6eHl4MTgzZWtyaHVuMWU3aTd6OSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/fC4vvkZZNX1Tfnuxzt/giphy.gif");
    color:#484B38;
    background-size:cover ;
    text-align: center;
    display: block;
    font-family: "Orbitron", sans-serif;

    
}

#main-logo{
    width: 100px;
}

.btn{
    margin: 0px auto;
    padding: 4px 10px 8px 10px ;
    background: white;
    border:none;
    font-family: inherit;
    color:#484B38;
}

.cta{
    border-bottom: 4px solid white;
}
